<html>
<head th:include="header :: header">

	</head>
	<body>
	<script type="text/javascript">

		$(document).ready(function() {
		$('#product').DataTable();
		} );

	</script>
	<script>

		function submitUpload() {
			var data = new FormData($('#uploader')[0]);
			clearSubtitle();

			if(!$('#file').val()) {
				$('#sub-title-wrapper').html("Please select a file.");
				return false;
			}

			jQuery.ajax('file/uploadProducts', {
				processData: false,
				contentType: false,
				data:  new FormData($('#uploader')[0]),
				method: "POST",
				complete: function(data) {

					if(data.responseJSON != 'undefined') {

						var success = data.responseJSON.properties['success'];
						var failed = data.responseJSON.properties['failure'];

						if (failed == 'failure' ){
							$('#failed-list').html("Failed Product Import");
						}
						$('#sub-title-wrapper').html("Import Success ");
						$('#uploader').get(0).reset();
						location.reload();

					}
				}
			});
		}
		function clearSubtitle() {
			$('#sub-title-wrapper').html("");
			$('#failed-list').html("");
		}
	</script>
	<div class="container">
		<div class="form-horizontal cong-frm">

		<h3>Upload Products </h3>
			<div class="cong-frm-in">
		<form id="uploader" action="#">
			<input type="file" name="file" id="file"/>
			<button class="button" onclick="submitUpload();return false;">Upload</button>
		</form>
			</div>

		<div id="sub-title-wrapper"></div>
		<div id="failed-list" class="error"></div>
</div>

		<div class="form-horizontal cong-frm">
		<h3>Schedule Product Upload </h3>
			<div class="cong-frm-in">
			<div class="form-group">
				<label class="col-sm-2 control-label">SFTP/FTP:</label>
				<div class="col-sm-10">
					SFTP <input type="radio" name="sftp" id="sftp"/>
					FTP <input type="radio" name="sftp" id="ftp"/>
				</div>
			</div>


			<div class="form-group">
				<label for="host" class="col-sm-2 control-label">HOST:</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" name="host" id="host" placeholder="Host" />
				</div>
			</div>

			<div class="form-group">
				<label for="username" class="col-sm-2 control-label">Username :</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" name="username" id="username" placeholder="Username" />
				</div>
			</div>

			<div class="form-group">
				<label for="username" class="col-sm-2 control-label">Password :</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" name="password" id="password" placeholder="Password" />
				</div>
			</div>

</div>

</div>
	</div>



	</body>
<div th:include="footer :: footer" class="copy-oth"></div>
</html>