<html>
<head th:include="header :: header">
</head>
<body>

<div class="container">

    <h3>Preview Recommendation Display </h3>

    <h4>Vertical Preview</h4>

    <div class="slider1">
        <div class="slide"><img src="/images/img.png" alt="" /></div>
        <div class="slide"><img src="/images/img.png" /></div>
        <div class="slide"><img src="/images/img.png" /></div>
        <div class="slide"><img src="/images/img.png" /></div>
        <div class="slide"><img src="/images/img.png" /></div>
        <div class="slide"><img src="/images/img.png" /></div>
        <div class="slide"><img src="/images/img.png" /></div>
        <div class="slide"><img src="/images/img.png" /></div>
        <div class="slide"><img src="/images/img.png" /></div>
    </div>

    <h4>Horizontal Preview</h4>
    <div class="slider8">
        <div class="slide"><img src="/images/img.png" /></div>
        <div class="slide"><img src="/images/img.png" /></div>
        <div class="slide"><img src="/images/img.png" /></div>
        <div class="slide"><img src="/images/img.png" /></div>
        <div class="slide"><img src="/images/img.png" /></div>
        <div class="slide"><img src="/images/img.png" /></div>
        <div class="slide"><img src="/images/img.png" /></div>
        <div class="slide"><img src="/images/img.png" /></div>
        <div class="slide"><img src="/images/img.png" /></div>
        <div class="slide"><img src="/images/img.png" /></div>
    </div>

</div>
</body>
<div th:include="footer :: footer" class="copy-oth"></div>
</html>