body {    
    background-color: #f5f5f5;
    background:url("../images/bg.jpg") no-repeat bottom center fixed;
    background-size: cover; 
}
.navbar{
    border-radius: 0 !important;
}
.frm-ot {
    border: none;
    text-align: center;
    background: rgba(255,255,2555, 0.5);
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -180px;
    margin-left: -227.5px;
    padding: 30px;
    width: 455px;
    border-radius: 5px;
}
.sbt-btn{
    background:#f9c04d;
    width: 100%;
    border: none;
    transition: all .3s;
    font-size: 16px;
}
.sbt-btn:hover{
     background:#daa438;
  }

  .logo{
     margin-bottom: 10px;
     height: 98px;
  }
.copy{
    position: fixed;
    bottom: 0; 
    left: 0;  
   color:#fff;
   text-align: center;    
   background: #424242;
   width: 100%;
   padding: 10px 0; 
   opacity: 0.6;
}

/* 3-9-2016 */
.srt-rw{
    background: #F2F2F2;
    padding: 10px;
  }
  .form-inline .form-control{
    width: auto;
  }

  .dataTables_filter{
    float: right;
  }
.navbar-inverse{
    border-radius:0px;
}

#search{
    background-color: rgba(255,255,255, 0.2);
    border: rgba(255,255,255, 0.2) solid 1px;
}
.btn-srch-sel{
    background: rgba(255,255,255,0.6);
    opacity: 0.9;
}
.navbar-right li a{
    padding-top:0;
}