<!DOCTYPE html>
<html th:fragment="header">

<head>
    <title>Predictive Intelligence by ScutiConnect</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/css/bootstrap.min.css}"/>
    <link href="/css/jquery.bxslider.css" rel="stylesheet" media="screen" th:href="@{/css/jquery.bxslider.css}"/>
    <link href="/css/core.css" rel="stylesheet" media="screen" th:href="@{/css/core.css}"/>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css" />
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
    <link href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css"/>

    <script src="/js/jquery-latest.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.12.3.js"></script>
    <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
    <script src="/js/jquery.bxslider.min.js"></script>

    <script>
    $( function() {
    var availableTags = [
    "ActionScript",
    "AppleScript",
    "Asp",
    "BASIC",
    "C",
    "C++",
    "Clojure",
    "COBOL",
    "ColdFusion",
    "Erlang",
    "Fortran",
    "Groovy",
    "Haskell",
    "Java",
    "JavaScript",
    "Lisp",
    "Perl",
    "PHP",
    "Python",
    "Ruby",
    "Scala",
    "Scheme"
    ];
    $( "#tags" ).autocomplete({
    source: availableTags
    });
    } );
    </script>

    <!--  carousal -->
    <script>
    $(document).ready(function(){
    $('.slider8').bxSlider({
    mode: 'vertical',
    slideWidth: 300,
    minSlides: 2,
    slideMargin: 10
    });
    });

    $(document).ready(function(){
        $('.slider1').bxSlider({
            slideWidth: 300,
            minSlides: 2,
            maxSlides: 3,
            slideMargin: 10
        });
    });
    </script>
</head>
<body>
<!-- Navbar -->
<div class="navbar navbar-inverse navbar-fixed-top nav-tp">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" style=" padding: 0 !important;"><img src="@{/images/logo-small.png}" alt="scuticommerce" class="logo" th:src="@{/images/logo-small.png}" style="height: 55px;" /></a>
        </div>



        <div class="navbar-collapse collapse" >
            <form action="/searchAll" method="POST" class="tp-mn-srch">
            <div class="col-md-6">
                <div class="input-group inp-grp">

                    <div class="input-group-btn">

                        <button type="button" class="btn btn-default dropdown-toggle btn-srch-sel" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">All <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li><a href="#">Product</a></li>
                            <li><a href="#">Orders</a></li>
                            <li><a href="#">Customers</a></li>
                            <li><a href="#">Recommendations</a></li>
                            <li><a href="#">Configuration</a></li>
                        </ul>
                    </div><!-- /btn-group -->
                    <input type="text" name="search" id="tags" th:value="${search}" class="form-control" aria-label="Search.." placeholder="Search.." />

                </div><!-- /input-group -->

            </div>
            </form>



            <ul class="nav navbar-nav navbar-right nv-rt">
                <li class="dropdown clearfix-col-3">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Welcome Bhartendu <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/account">Profile</a></li>
                        <li><a href="/logout">Logout</a></li>
                    </ul>
                </li>
                <li><a href="#">Scuticommerce</a></li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</div>

<!-- navbar bottom -->

<div class="navbar navbar-inverse navbar-fixed-top nav-btm">
    <div class="container">
        <ul class="nav navbar-nav">
            <li th:classappend="${page == 'home' ? 'active' : ''}"><a href="#" th:href="@{/}">Home</a></li>
            <li th:classappend="${page == 'product' ? 'active' : ''}"><a href="#" th:href="@{/product}">Products</a>
                <ul>
                  <li><a href="#" th:href="@{/productUpload}">Upload Product</a></li>
                    <li><a href="#" th:href="@{/orderUpload}">Upload Orders</a></li>
                    <li><a href="#" th:href="@{/customerUpload}">Upload Customer</a></li>
                </ul>
            </li>
            <li th:classappend="${page == 'order' ? 'active' : ''}"><a href="#" th:href="@{/order}">Orders</a>
            </li>
            <li th:classappend="${page == 'customer' ? 'active' : ''}"><a href="#" th:href="@{/customer}">Customers</a>
                <ul>
                    <li><a href="#" th:href="@{/dashboard}">Dashboard</a></li>
                </ul>
            </li>
            <li th:classappend="${page == 'recommendation' ? 'active' : ''}"><a href="#" th:href="@{/recommend}">Recommendations</a>
                <ul>
                    <li><a href="#" th:href="@{/recommendationPreview}">Recommendation Preview</a></li>
                </ul>
            </li>
            <li th:classappend="${page == 'email' ? 'active' : ''}"><a href="#" th:href="@{/email}">Email</a>
                <ul>
                    <li><a href="#" th:href="@{/templates}">Template</a></li>
                </ul>
            </li>
            <li th:classappend="${page == 'configuration' ? 'active' : ''}"><a href="#" th:href="@{/configuration}">Configuration</a></li>
            <li th:classappend="${page == 'reports' ? 'active' : ''}"><a href="#" th:href="@{/reports}">Reports</a></li>
            <li th:classappend="${page == 'help' ? 'active' : ''}"><a href="#" th:href="@{/help}">Help</a></li>
        </ul>
    </div>
    <!-- navbar bottom -->
</div>
</body>
</html>