<html>
	<head>
		<title>Predictive Intelligence by ScutiConnect</title>
		<style>
			table, th, td {
			   border: 1px solid black;
			   border-spacing: 0px;
			}
			th, td {
				padding: 10px;
			}
		</style>
	</head>
	<body>
		<table>
			<thead>
				<tr>
					<th>ID</th>
					<th>Name</th>
					<th>Description</th>
					<th>Code</th>
					<th>ImageURL</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="product : ${productList}">
					<td th:text="${product.name}"></td>
					<td th:text="${product.code}"></td>
					<td th:text="${product.description}"></td>
					<td th:text="${product.sku}"></td>
					<td th:text="${product.imageURL}"></td>
				</tr>
			</tbody>
		</table>
		<br />
		<h2>Add Product</h2>
		<form action="/addProduct" method="POST">
			Name <input type="text" id="name" name="name" /><br />
			Code <input type="text" id="code" name="code" /><br />
			SKU <input type="text" id="sku" name="sku" /><br />
			Image <input type="text" id="imageURL" name="imageURL" /><br />
			Description <textarea rows="5" cols="70" id="description" name="description" /><br />
			<input type="submit" />
		</form>
		<h2>Search for products</h2>
		<form action="/search" method="POST">
			<input type="text" name="search" id="search" th:value="${search}" />
			<input type="submit" value="Search" />
		</form>
	</body>
</html>