<!DOCTYPE html>
<html>
<head>    
<title>ScutiCommerce</title>>
 <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/css/bootstrap.min.css}"/>
 <link href="/css/core.css" rel="stylesheet" media="screen" th:href="@{/css/core.css}"/>
    <style>
        body {
            background: url("../images/bg.jpg") no-repeat bottom center fixed;
            background-size: cover;
        }
    </style>
</head>

<body>

<div th:if="${param.error}">Invalid username and password.</div>
<div class="frm-ot">
<img src="@{/images/logo.png}" alt="scuticommerce" class="logo" th:src="@{/images/logo.png}"/>
<form th:action="@{/login}" method="post" class="form-horizontal">

  <div class="form-group">    
    <div class="col-sm-12">
      <input type="email" name="username" class="form-control" placeholder="Username" />
    </div>
  </div>

  <div class="form-group">    
    <div class="col-sm-12">
      <input type="password" name="password" class="form-control" placeholder="Password" />
    </div>
  </div>


   <div class="form-group">
    <div class="col-sm-12">
      <button type="submit" class="btn btn-default sbt-btn">Sign in</button>
    </div>
  </div>
</form>
<div class="clearfix"></div>
<div class="copy">&copy; copyright ScutiCommerce</div>
</div>
</body>
</html>