<html>
<head th:include="header :: header">

</head>
<body>
<script>$(document).ready(function() {
    var table = $('#configuration').DataTable();

    $('#configuration tbody').on('click', 'tr', function () {
        var data = table.row( this ).data();
        alert( 'You clicked on property '+data[0] );

        $.ajax({
            url: '/getConfig/'+data[0],
            type: 'GET',
            success: function(data) {

                alert(data);
            }
        });

    } );

} );</script>
<div class="container">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary pull-right ad-prd-btn" data-toggle="modal" data-target="#myModal">Add product</button>
    <div>&nbsp;</div>
    <div class="clearfix"></div>


<table id="configuration" class="table table-striped table-bordered">
    <thead>
    <tr>
        <th>Property</th>
        <th>Value</th>
        <th>Type</th>
        <th>Organization</th>
        <th>Action</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="configuration : ${configurationList}">
        <td th:text="${configuration.property}"></td>
        <td th:text="${configuration.value}"></td>
        <td th:text="${configuration.type}"></td>
        <td th:text="${configuration.organization}"></td>
        <td><a th:href="@{/deleteConfig/{id}(id=${configuration.id})}"><span>Delete</span></a></td>
    </tr>
    </tbody>
</table>

    </div>



<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Add Configuration </h4>
            </div>
            <div class="modal-body">


                <form action="/addConfig" method="POST">
                    <div class="form-group">
                        <input type="text" id="property" name="property"  class="form-control" placeholder="Propety Name" />
                    </div>
                    <div class="form-group">
                        <input type="text" id="value" name="value" class="form-control" placeholder="Value" />
                    </div>
                    <div class="form-group">
                        <input type="text" id="type" name="type" class="form-control" placeholder="Type" />
                    </div>
                    <div class="form-group">
                        <input type="text" id="organization" name="organization" class="form-control" placeholder="Organization" />
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary" value="Submit" />
                    </div>
                </form>


            </div>
        </div>
    </div>
</div>
</body>
<div th:include="footer :: footer" class="copy-oth"></div>
</html>